
body {
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background: white;
    font-family: 'Raleway', sans-serif;
}

h1 {

    font-family: 'Lobster Two', cursive;

}

.StockItem {
    display: flex;

}

.container {
    margin-left: auto;
    margin-right: auto;
}

.search input{
    width: 65%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.search-button {
    width: 100px;
    height: 52px;
}