<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List App</title>
      <link type="text/css" rel="stylesheet" href="../static/main.css"/>
</head>
<body>

    <div class="container">
        <div class="statsection">
            <div>
                <button>Buy</button>
                <div>Stock Price</div><div>12345</div>
                <div> Name of Track</div><div>ed sheeran dive</div>
                <div>Quantity</div><div>4562</div>
            </div>
    </div>

</body>
</html>